html, body {
    font-family: times;
    margin: 50;
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 48px;
    color: red;
}

p {
    max-width: 65%;
    color: blue;
}

h2 {font-family:arial;
  font-size: 30;
  color: purple;
margin: 50%;
width: 100%;
height:100%;
text-align:center;
 }

 div{color: green;
 }
 .navbar{color:red;
 }
 #nav1_id{color: orange;
 }
